<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <a href="/product/new">Novo Produto</a>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <%= product.name %> - R$<%= product.price %>
                <a href="/product/edit/<%= product.id %>">Editar</a>
                <a href="/product/delete/<%= product.id %>">Excluir</a>
            </li>
        <% }) %>
    </ul>
    <a href="/">Voltar</a>
</body>
</html>
